@model CreateViewTelefon

@{
    ViewData["Title"] = "Edit Product";
    var photoPath = "~/images/" + Model.PhotoFileName;
    }


<title></title>

<style>
    .imageThumbnail {
        max-width: 150px; /* Maksimum genişlik */
        max-height: 300px; /* Maksimum yükseklik */
    }
</style>

<div class="container shadow p-5">
    <div class="row  pb-2">
        <h1>Edit Product</h1>
    </div>


    <form method="post" class="form-floating" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />


        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Id" placeholder="Enter product name" readonly="readonly" />
            <label asp-for="Id">Product Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Model" placeholder="Model adı giriniz" />
            <label asp-for="Model">Model</label>
            <span asp-validation-for="Model" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Ekran" placeholder="Ekran adı giriniz" />
            <label asp-for="Ekran">Ekran</label>
            <span asp-validation-for="Ekran" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Kamera" placeholder="Kamera adı giriniz" />
            <label asp-for="Kamera">Kamera</label>
            <span asp-validation-for="Kamera" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="İşlemci" placeholder="İşlemci adı giriniz" />
            <label asp-for="İşlemci">İşlemci</label>
            <span asp-validation-for="İşlemci" class="alert-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Renk" placeholder="Renk adı giriniz" />
            <label asp-for="Renk">Renk</label>
            <span asp-validation-for="Renk" class="alert-danger"></span>
        </div>


        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Fiyatı" placeholder="Fiyatı adı giriniz" />
            <label asp-for="Fiyatı">Fiyatı</label>
            <span asp-validation-for="Fiyatı" class="alert-danger"></span>
        </div>


       

        <div class="form-floating mb-3">
            <label asp-for="PhotoFileName" class="custom-file-label" hidden>@Model.PhotoFileName</label>
            </div>
        <div class="card-body text-center">
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
        </div>
       
        <div class="form-floating mb-3">
           
            <input type="file" class="form-control  custom-file-input" asp-for="Photo" placeholder="Ürün fotoğrafını seçiniz." />
            <label asp-for="Photo" class="custom-file-label">Photo</label>
            <span asp-validation-for="Photo" class="alert-danger"></span>
        </div>

    

        <button type="submit" class="btn btn-success">Update</button>
        <a asp-action="Index" class="btn btn-primary">Back To List</a>
    </form>
</div>