@model iPhone.Models.User

<div class="container shadow p-5">
    @if (TempData["LoginMsg"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["LoginMsg"]
        </div>
    }

    <form method="post" asp-action="UserLogin">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Giriş Yap</h2>
                <hr />
            </div>
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <label asp-for="EMail" class="col-sm-2 col-form-label">E-Mail</label>
                    <input type="email" asp-for="EMail" class="form-control" />
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <label asp-for="Password" class="col-sm-2 col-form-label">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Giriş Yap</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Hesap" asp-action="Register" class="btn btn-secondary form-control">
                        Kayıt Sayfasına Geri Dön
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
